#sliderContainer {      
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: left;
}

#sliderLegend {
    width: 180px;   
    position: relative;
    float: left;
}

.sliderCircle {
    border-radius: 50%;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.fancyLine {
	height: 1px;	
	position: absolute;
	top: 50%;
	left: 50%;
    background: rgba(220, 220, 221, 0.65);
	transform-origin: center left;
}
.sliderCenter {
    border-radius: 50%;
    margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
    z-index: 1;	
	background: #e5e5e6; /*masking circle... shouldbe the same color as background*/	
}

.slidingButton {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1;
    /* So we rotate around the correct pivot point */
    transform-origin: center left;
}
.buttonCircle {
    border-radius: 50%;
    margin: 0 0 0 auto;	
    background: #ebebec;
	border: 1px solid #d0d0d0;
    cursor: pointer;
}
.legendElement{
    float: left;
    min-width: 140px;
}
.legendElementName {
    font-size: 14px;
    padding: 3px;
    margin: 5px;
    border-radius: 5px;
    text-align: center;    
    color: white;
    font-family: Verdana;
}
.legendElementValue {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    font-family: Verdana;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

@media only screen and (max-width: 500px) {
    #sliderLegend { 
        width: 100%
    }
    #sliderContainer {
        clear: both;
        float: none;
    }
}