#container {
    background: #e5e5e6; 
    width: 100%;
    height: 500px;
    position: relative;
}

[id^="sliderCircle"] {
    border-radius: 50%;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

[id^="sliderCenter"] {
    border-radius: 50%;
    margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
    z-index: 1;	
	background: #e5e5e6;	
}

[id^="slidingButton"] {
	margin-top: -14px;
    position: absolute;
	top: 50%;
	left: 50%;
	height: 28px;	
	z-index: 1;
    /* So we rotate around the correct pivot point */
    transform-origin: center left;
}
[id^="buttonCircle"] {
    border-radius: 50%;
    margin: 0 0 0 auto;
	width: 25px;
	height: 25px;
    background: #ebebec;
	border: 1px solid #d0d0d0;
}
